*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    height: 10vh;
    width: 100%;
    background-color: #C0C0C0;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav img{
    height: 40px;
    margin-left: 5%;
}
nav ul{
    list-style: none;
    padding-right: 5%;
}
.container{
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
form{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form p{
    margin-bottom: 20px;
}
form input{
    width: 100%;
    padding: 10px;
    /* margin-bottom: 50px; */
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
}
form select{
    margin-bottom: 20px;
    margin-top: 20px;
}
form select{
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
}
label{
    margin-top: 20px;
}
form select:focus{
    border: 1px solid black;
}
form select:active{
    border: 1px solid black;
}
form button{
    width: 100%;
    background-color: rgb(61, 61, 255);
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}