*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 10%;
    justify-content: start;
    align-items: center;
    background-color: black;
}
nav img{
    height: 50px;
}
nav span{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav span img{
    height: 30px;
    margin: 10px;
}
nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
}